/*general*/

@font-face {
    font-family: 'Roboto-Regular';
    src: url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
}

@font-face {
    font-family: 'Shirkhand';
    src: url('https://fonts.google.com/specimen/Shrikhand/about?query=shrik');
}

body {
    font-family: 'Roboto-Regular', sans-serif;
}

h1, h2{
    font-family: 'Shrikhand', sans-serif;
}




/*logo*/

.titre-ohmyfood {
    display: flex;
    justify-content: center;
    text-align: center;
    width: auto;
    height: 100%;
    font-size: 60px;
}


/*bare-de-recherche*/

.barre-de-recherche {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
    height: 50px;
    font-weight: bold;
    background-color: silver;
}

.loading {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #FFF;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 999;
  }

  .spinner-conteneur {
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    background: white;
    animation: 3s linear loader;
    z-index: -5;
    visibility: hidden;
  }
  
  .spinner {
    border: 4px solid #f3f3f3;
    border-top: 4px solid #3498db;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    animation: spin 1.5s linear infinite;
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); visibility: hidden }
  }

  @keyframes loader {
    0% { z-index: 5; visibility: visible; }
    80% { opacity: 20%;}
    100% { z-index: -5; visibility: hidden; opacity: 0%;}
  }

/*présentation du resto*/

.presentation {
    width: auto;
    height: 290px;
    background-color: #F2F2F2;
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
}

.text-presentation {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.p1 {
    width: 65%;
    font-weight: bold;
    margin-bottom: 0%;
    font-size: 25px;
    text-align: center;

}

.p2 {
    width: 80%;
    text-align: center;
    font-weight: lighter;
    margin-bottom: 20px;
}

.bouton-explorer {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #F2F2F2;
    background: linear-gradient(170deg, #ff79da, #9356dc);
    width: auto;
    border-radius: 50px;
    padding: 20px;
    margin-top: 35px;
    font-size: 20px;
}

/*fonctinnement*/

.titre-fonctionnement {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 20px;
    font-weight: bold;
    font-size: 25px;
}

.fonctionnement {
    width: auto;
    padding-right: 20px;
    padding-left: 20px;
    gap: 20px;
    padding: 10px;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: flex-start;
    justify-content: center;
   
}

.fonction {
    border: 2px solid #F2F2F2;
    width: 100%;
    height: 70px;
    border-radius: 15px;
    margin-right: 20px;
    font-weight: bold;
    gap: 10px;
    font-size: 20px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: whitesmoke;
    position: relative;
}

.number{
    position: absolute;
    left: -10px;
    height: 26px;
    width: 26px;
    background-color: #9356DC;
    text-align: center;
    border-radius: 25px;
    color: #FFF;
}

.color-store{
    color: #9356DC;
}

.icone-fonction {
    padding: 20px;
}

/*Restaurant*/

.block-restaurants {
    margin-top: 45px;
    background-color: #F2F2F2;
    height: auto;
    padding: 20px;
}

.titre-restaurants {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        padding: 20px;
        font-weight: bold;
        font-size: 25px;
}
/* La palette du goût */

.card-restaurant {
    display: block;
    text-decoration: none;
    color: #000;
    border-radius: 25px;
    background-color: #FFF;
    margin-bottom: 20px;

    .vignette-resto {
        width: 100%;
        position: relative;
        overflow: hidden;
        display: flex;
        align-items: center;
        border-radius: 25px 25px 0 0;
    .nouveau {
        position: absolute;
        right: 40px;
        top: 20px;
        color: green;
        background-color: lightgreen;
        padding: 5px;
        border-radius: 3px;

    }
        img {
            border-radius: 20px;
            width: 100%;
            height: auto;
            object-fit: cover;
            object-position: 0 60%;
            max-height: 200px;
        }
    }

    .resto-localisation {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        padding: 10px 0 15px 20px;
        position: relative;
        
        
    }

    .nom-du-resto {
        margin-bottom: 2%;
        margin-top: 2%;
    }

    .localisation-resto {
        margin-top: 5px;
        margin-bottom: 5px;
    }
    .card-favorite{
        position: absolute;
        right: 25px;
        bottom: 25px;
        font-size: 30px;
    }
    .card-favorited{
        position: absolute;
        right: 25px;
        bottom: 25px;
        font-size: 30px;
        background: linear-gradient(330deg, #ff79da, #9356dc);
        color: transparent;
        opacity: 0%;
        cursor: pointer;
        -webkit-background-clip: text;
        background-clip: text;
        transition: opacity 0.2s ease-in-out;
    }
    .card-favorited:hover{
        opacity: 100%;
        cursor: pointer;
    }
}

.footer {
    background-color: dimgray;
    height: 220px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: flex-start;
    color: #F2F2F2;

    .titre-footer {
        font-size: 20px;
        padding-left: 5px;
        color: #F2F2F2;
        padding-left: 20px;
    }

    .lien-footer {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 10px;
        padding-left: 20px;
        margin: 7px;
    }

    .lien-footer h4 {
        margin: 5px;
    }

}

.titre-page {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 20px;
    font-size: 24px;
    margin-top: -35px;
    text-decoration: none;
    color: #000;
    .titre-page,i{
      position: absolute;
      left: 30px;
      bottom: 570px;
      text-decoration: none;
      color: #000;
    
    }
  }
  
  .image-plat{
    width: 100%;
    height: auto;
    img{
        width: 100%;
        height: 270px;
        object-fit: cover;
    }
  }

  .card-menu{
    width: 100%;
    height: auto;
    background-color: #F2F2F2;
    margin-top: -30px;
    border-radius: 30px 30px 0 0;
    position: relative;
    padding-bottom: 40px;
    .title-card{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        padding: 0 20px;
    }
    .title-entres{
        padding-left: 20px;
        margin-top: 20px;
    }
    .menu{
        display: flex;
        flex-direction: column;
        gap: 35px;
        padding: 10px;
    }
    .menu-card-title{
       padding-left: 5px;
       animation: menu-card-body 0.5s linear forwards;
       &::after{
        content: "";
        width: 40px;
        border: 2px solid #99E2D0;
        display: block;


    }
    }
    .menu-card-body{
        padding-left: 5px;
        margin-top: 20px;
        border-radius: 20px;
        display: flex;
        align-items: center;
        width: 100%;
        height: 75px;
        background-color: #FFF;
        box-shadow: 3px 3px 3px 3px lightgray;
        overflow: hidden;
        opacity: 0;
        animation: menu-card-body linear forwards;
        
        @keyframes menu-card-body{
            from {opacity: 0; transform: translateY(100%);}
              to {opacity: 1; transform: translateY(0%);}
        }   
    }

    @for $i from 2 through 5 {
        
        .menu-card>.menu-card-body:nth-child(#{$i}) {
            animation-duration: #{$i *0.3}s;
        }
    }



    .menu-card-body:hover {
        .menu-card-favorite{
            width: 20%;
            color: #FFF;
        }
        .menu-card-text{
            width: 60%;
        }
        
        
    }
    .menu-card-text{
        display: flex;
        flex-direction: column;
        width: 80%;
        padding-left: 10px;
        transition: width 0.3s ease-in-out;
        h4{
            margin-top: 0;
            margin-bottom: 10px;
            font-size: 18px;
            white-space: nowrap;
            text-overflow: ellipsis;
            overflow: hidden;

        }
        p{
            margin: 5px 0;
            font-weight: 400;
            font-size: 14px;
            white-space: nowrap;
            text-overflow: ellipsis;
            overflow: hidden;
        }
        
    }

    .menu-card-favorite{
        width: 0%;
        height: 100%;
        background-color: aquamarine;
        border-radius: 0px 20px 20px 0;
        transition: width 0.3s ease-in-out;
        display: flex;
        align-items: center;
        justify-content: center;
        color: transparent;
        font-size: 20px;
        cursor: pointer;
        
    }
    

    .menu-card-price{
        width: 20%;
        margin-top: 30px;
        display: flex;
        justify-content: center;
    }


    .commander{
        width: 50%;
        height: 60px;
        background: linear-gradient(170deg, #ff79da, #9356dc);
        color: #FFF;
        margin-top: 50px;
        border-radius: 40px;
        transition: background 1000ms linear;
        &:hover {
            background: linear-gradient(170deg, #ff79daad, #9356dcba);
            box-shadow: 1px 5px 5px 1px #00000059;
        }
        box-shadow: 1px 5px 5px 1px #00000029;
        border: none;
        cursor: pointer;
    }
  }

    .button{
    display: flex;
    justify-content: center;
}

/*tablette*/

    
    @media (min-width: 700px) {
        .restaurants{
            display: flex;
            flex-wrap: wrap;
            align-items: center;
            justify-content: space-between;


        }

        .card-restaurant{
            width: 45%;
        }


        .card-menu .menu-card-body{
            padding: 0 0 1px 1px;
        }
    
}

/*desktop*/

@media  (min-width: 990px) {
    
    .card-restaurant{
        width: 20%;
    }

    .img{
        max-height: 200px;
    }

    .card-restaurant .nom-du-resto{
        font-size: initial;
    }

    .card-menu .menu{
        display: flex;
        flex-direction: row;
        gap: 10px;
    }

    

    .card-restaurant .vignette-resto .nouveau{
        position: absolute;
        right: 10px;
        top: 20px
    }

    .card-menu .menu-card-body{
        width: 100%
    }

    .menu-card{
        width: 33%;
    }

    .card-restaurant .vignette-resto img{
        max-height: 172px;
    }
}